<footer class="footer has-background-beige is-hidden-mobile">
  <div class="container is-small">
    <div class="columns">
      <div class="column">
        <h4 class="title is-7 is-uppercase has-text-grey">Products</h4>
        <ul>
          <li>
            <a class="has-text-dark has-text-weight-semibold" href="/automate365" title="Design" rel="noopener">Automate365</a>
          </li>
          <li>
            <a class="has-text-dark has-text-weight-semibold" href="/design" title="Design" rel="noopener">Design</a>
          </li>
          <li>
            <a class="has-text-dark has-text-weight-semibold" href="/build" title="Build" rel="noopener">Build</a>
          </li>
          <li>
            <a class="has-text-dark has-text-weight-semibold" href="/accessibility" title="Accessibility" rel="noopener">Accessibility</a>
          </li>
          <li>
            <a class="has-text-dark has-text-weight-semibold" href="/teams" title="Teams" rel="noopener">Teams</a>
          </li>          
        </ul>
      </div>

      <div class="column">
        <h4 class="title is-7 is-uppercase has-text-grey">Solutions</h4>
        <ul>
          <li>
            <a class="has-text-dark has-text-weight-semibold" href="/education" title="Eduation" rel="noopener">Education</a>
          </li>
          <li>
            <a class="has-text-dark has-text-weight-semibold" href="/health" title="Health" rel="noopener">Health</a>
          </li>
          <li>
            <a class="has-text-dark has-text-weight-semibold" href="/employee-wellness" title="Employee Wellness" rel="noopener">Employee Wellness</a>
          </li>
          
        </ul>
      </div>

      

      <div class="column">
        <h4 class="title is-7 is-uppercase has-text-grey">Learn</h4>
        <ul>
          <li><a class="has-text-dark has-text-weight-semibold" href="/resources/blog" title="Blog" rel="noopener">Blog</a>
          </li>
          <li><a class="has-text-dark has-text-weight-semibold" href="/resources/case-study" title="Customer Stories" rel="noopener">Customer Stories</a>
          </li>
          <li><a class="has-text-dark has-text-weight-semibold" href="/resources/session" title="Webinars" rel="noopener">Webinars</a>
          </li>
          <li><a class="has-text-dark has-text-weight-semibold" href="https://support.bindtuning.com/hc/en-us" title="Support" target="_blank" rel="noopener">Support</a>
          </li>
        </ul>
      </div>

      <div class="column">
        <h4 class="title is-7 is-uppercase has-text-grey">About us</h4>
        <ul>
          <li><a class="has-text-dark has-text-weight-semibold" href="/about" title="Who we are" rel="noopener">Who
              we are</a>
          </li>
          <li><a class="has-text-dark has-text-weight-semibold" href="/partners" title="Partners" rel="noopener">Partners</a>
          </li>
          <li><a class="has-text-dark has-text-weight-semibold" href="/resources/event" title="Events" rel="noopener">Events</a>
          </li>
          <li><a class="has-text-dark has-text-weight-semibold" href="/resources/press-release" title="Press Releases" rel="noopener">Press Releases</a>
          </li>
        </ul>
      </div>

      <div class="column is-4 has-text-left-touch has-text-right-widescreen is-hidden-touch">
        <img loading="lazy" class="logo" alt="BindTuning logo" src="//cf.bindtuning.com/images/btlogo_black.png" data-src="https://cf.bindtuning.com/images/btlogo_black.png">
        <div class="content is-small text-info">Copyright Ⓒ <span class="text-copyright">2022</span> Bind.
          <br>All rights reserved.
          <br><a href="https://bindtuning-legal.readthedocs.io/en/latest/Licenses/Privacy%20Policy/" target="_blank" class="has-text-weight-bold has-text-black" rel="noopener">Privacy Policy</a>
          <br><a href="/cookie-policy" target="_blank" class="has-text-weight-bold has-text-black" rel="noopener">Cookie Policy</a>
          <br>
          
        </div>

        <div class="social-network">
          <a href="https://www.linkedin.com/company/bindtuning" target="_blank" class="social-network__linkedin" rel="noopener">
            <i class="ion-logo-linkedin"></i>
          </a>

          <a href="https://twitter.com/bindskins" target="_blank" class="social-network__twitter" rel="noopener">
            <i class="ion-logo-twitter"></i>
          </a>

          <a href="https://www.youtube.com/bindskins" target="_blank" class="social-network__youtube" rel="noopener">
            <i class="ion-logo-youtube"></i>
          </a>

          <a href="https://www.instagram.com/bindtuningcom" target="_blank" class="social-network__instagram" rel="noopener">
            <i class="ion-logo-instagram"></i>
          </a>

          <a href="https://facebook.com/bindskins" target="_blank" class="social-network__facebook" rel="noopener">
            <i class="ion-logo-facebook"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="columns is-hidden-desktop">
      <div class="column is-12 is-half is-centered">
        <img loading="lazy" class="logo has-text-centered" alt="BindTuning logo" src="//cf.bindtuning.com/images/btlogo_black.png" data-src="https://cf.bindtuning.com/images/btlogo_black.png" style="display: block;margin: 0 auto;width: 12.5rem;">

        <div class="content is-small text-info has-text-centered">Copyright Ⓒ <span class="text-copyright">2022</span>
          Bind.
          All rights reserved.
          <br><a href="https://bindtuning-legal.readthedocs.io/en/latest/Licenses/Privacy%20Policy/" target="_blank" class="has-text-weight-bold has-text-black" rel="noopener">Privacy Policy</a>
          <br><a href="/cookie-policy" target="_blank" class="has-text-weight-bold has-text-black" rel="noopener">Cookie Policy</a>
          <br>
        </div>

        <div class="social-network has-text-centered">
          <a href="https://www.linkedin.com/company/bindtuning" target="_blank" class="social-network__linkedin" rel="noopener">
            <i class="ion-logo-linkedin"></i>
          </a>

          <a href="https://twitter.com/bindskins" target="_blank" class="social-network__twitter" rel="noopener">
            <i class="ion-logo-twitter"></i>
          </a>

          <a href="https://www.youtube.com/bindskins" target="_blank" class="social-network__youtube" rel="noopener">
            <i class="ion-logo-youtube"></i>
          </a>

          <a href="https://www.instagram.com/bindtuningcom" target="_blank" class="social-network__instagram" rel="noopener">
            <i class="ion-logo-instagram"></i>
          </a>

          <a href="https://facebook.com/bindskins" target="_blank" class="social-network__facebook" rel="noopener">
            <i class="ion-logo-facebook"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
<section class="section footer-bottom-2020" style="background-color: white;">
	<div class="container ">
		<div class="columns">
		<div class="column is-6 has-text-left has-text-centered-mobile">
			<img src="//cf.bindtuning.com/images/footer_2020.jpg" loading="lazy" alt="International Growth Strategy logo" data-src="https://cf.bindtuning.com/images/footer_2020.jpg">
		</div>
		<div class="column is-6 has-text-right has-text-centered-mobile">
			<p class="title is-size-7 is-size-7-mobile">
			<a href="/international-growth" rel="noopener">International Growth Strategy</a>
			</p>
		</div>
		</div>
	</div>
</section>