<header class="header">
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a role="button" class="navbar-burger BT-OpenSideBar" aria-label="menu" aria-expanded="false" data-target="menu">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
			<a class="navbar-item navbar-item-logo" href="https://bindtuning.com/" rel="noopener">
				<figure class="logo">
					<img src="//bindtuning.com/images/btlogo_black.png" alt="bindtuning logo">
				</figure>
			</a>
			<div class="icon-enter">
				<a href="https://app.bindtuning.com/login" rel="noopener">
					<i class="ion-ios-contact is-size-3"></i>
				</a>
			</div>
		</div>

		<div id="menu" class="navbar-menu">
			<div class="navbar-start">
				<div class="navbar-item has-dropdown">
					<a class="navbar-link is-arrowless" href="https://support.bindtuning.com/hc/en-us#knowledge-base" target="_blank" rel="noopener">
						Knowledge Base
					</a>
					
					<a class="navbar-link is-arrowless" href="https://www.youtube.com/user/bindskins" target="_blank" rel="noopener">
						Videos
					</a>

					<a class="navbar-link is-arrowless" href="https://bindtuning.uservoice.com/forums/10329-my-bindtuning-idea" target="_blank" rel="noopener">
						Suggest a Feature
					</a>

					<a class="navbar-link is-arrowless" href="https://support.bindtuning.com/hc/en-us/requests/new" target="_blank" rel="noopener">
						Report a Bug
					</a>
				</div>
			</div> 
			<hr class="is-hidden-desktop">
			<div class="navbar-end">
				<a href="https://bindtuning.com/" class="login-link" rel="noopener">
					&#x2190; back to BindTuning
				</a>
			</div>
	</div></nav>
</header>
